body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.ai, .fab {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
}
